<div class="info_box">
<h2>Mutation Name: <%= @mutation.name %></h2>
<em><h3>Cost: <%= @mutation.cost %></h3></em>
<p><%= @mutation.description %>
</p>
<%= link_to 'Back', 'javascript:history.back()', class:"home_link" %>
</div>