<div class="info_box">
<h2>Skill Name: <%= @skill.name %></h2>
<em><h3>Category: <%= @skill.skill_category %></h3></em>
<p><%= @skill.description %>
</p>
<%= link_to 'Back', 'javascript:history.back()', class:"home_link" %>
</div>