<div class="info_box">

<h2>Experience and Advancement. </h2>
<h3>Gaining Experience</h3>
A Warrior can gain experience in a number of different ways, <br>
The most common is +1 Exp for surviving a match, that both Henchmen and Heroes get if they managed to not be die during a game, this even counts if they were knocked Out of Action.
<br>Heroes gain +1 Exp for every enemy they take Out of Action during a match
<br>Leaders gain +1 Exp for winning a match.
<br>Other ways of detailing gaining exp are also listed in any scenario played and there are some ways that will pop up in special circumstances such as a 66 on the Injury Chart.
<h3>Underdog Bonus</h3>
<p>When a warrior fights against a warband much more experienced than their own, they are much quicker to learn. <br> They gain extra experience at the end of the match as per the table below</p>
<table>
<tr>
<th>Difference in Warband Rating</th>
<th>Experience Bonus</th>
</tr>
<tr>
<td>0-50</td>
<td>None</td>
</tr>
<tr>
<td>51-75</td>
<td>+1</td>
</tr>
<tr>
<td>76-100</td>
<td>+2</td>
</tr>
<tr>
<td>101-150</td>
<td>+3</td>
</tr>
<tr>
<td>151-250</td>
<td>+4</td>
</tr>
<tr>
<td>251+</td>
<td>+5</td>
</tr>

</table>
<h3> Experience Milestones </h3>
<h4>Heroes:</h4>
<p>Some Heroes start at a set level of experience, this is taken into accounts with their characteristics / skills so you should not roll of advancement of the warrior for this experience. <br>
Heroes gain an Advancement at the experience milestones of. <br>
Exp: <em>2,4,6,8,11,13,17,20,24,28,32,36</em> and then every consecutive <em>5</em> experience after that. </p>
<h4>Henchmen </h4>
<p>Henchmen start with no experience.
Henchmen gain an Advancement at the experience milestones of.<br>
Exp: <em>2, 5, 9, 14</em> and then every consecutive <em>5</em> experience after that </p>
<h3>Advancement</h3>
<p>When a Warrior reaches an Experience Milestone they make a roll on the applicable Advancement chart.</p>

<h4>Hero Advancement Chart</h4>

<div><b>2D6 Dice roll generation</b></div>
<div><i>refresh page to reset</i></div>
<div><% localRoll =  expRoll() %></div>
<div>Roll 1: <%= localRoll["roll1"] %></div>
<div>Roll 2: <%= localRoll["roll2"] %></div>
<div>Total: <%= localRoll["total"] %></div>

<table>
<tr>
<th>2D6</th>
<th>Result</th>
</tr>

<tr>
<td><strong>2-5 </strong></td>
<td><strong>New Skill</strong> Select one Skill to add to the Warriors repertoire from the selection available to them. 
<br>If the Warrior is a Spellcaster or can use Prayers they can select a spell/prayer instead, if they select a spell/prayer they already know they instead get a bonus to cast of +1 per extra selection after the first.
<br>Warriors may not choose the same skill twice unless the skill lists that you can. </td>

<tr>
<td><strong>6</strong></td>
<td><strong>Characteristic Increase</strong><br>Roll again: 1-3= Gain +1 Strength 4-6= choose either: gain +1 to Close Combat Damage Bonus or gain +1 Ranged Damage Bonus</td>
</tr>

<tr>
<td><strong>7</strong></td>
<td><strong>Characteristic Increase</strong><br>Choose either +1 Close combat attacks bonus or +1 Ranged Combat attacks bonus</td>
</tr>

<tr>
<td><strong>8</strong></td>
<td><strong>Characteristic Increase</strong><br>Roll Again: 1-3 =  Gain +1 Agility, 4-6=Gain +1 Bravery</td>
</tr>

<tr>
<td><strong>9</strong></td>
<td><strong>Characteristic Increase</strong><br> Roll Again: 1-3 =  Gain +1 Toughness, 4-6= Gain +3 Wounds</td>
</tr>

<tr>
<td><strong>10-12 </strong></td>
<td><strong>New Skill</strong> Select one Skill to add to the Warriors repertoire from the selection available to them. 
<br>If the Warrior is a Spellcaster or can use Prayers they can select a spell/prayer instead, if they select a spell/prayer they already know they instead get a bonus to cast of +1 per extra selection after the first.
<br>Warriors may not choose the same skill twice unless the skill lists that you can. </td>
</tr>

</table>

<h4>Henchmen Advancement Chart</h4>
<p>Henchmen can only ever get a maximum of +1 (or +3 for wounds)  in each Characteristic (they aren’t heroes after all!), If they get a result that was the same as a previous result roll again.</p>
<table>
<tr>
<th>2D6</th>
<th>Result</th>
</tr>

<tr>
<td><strong>2-4 </strong></td>
<td><strong> Characteristic Increase </strong> Gain +1 Agility </td>
</tr>

<tr>
<td><strong>6</strong></td>
<td><strong>Characteristic Increase</strong><br>Roll again: 1-3= Gain +1 Strength 4-6= choose either: gain +1 to Close Combat Damage Bonus or gain +1 Ranged Damage Bonus</td>
</tr>

<tr>
<td><strong>7</strong></td>
<td><strong>Characteristic Increase</strong><br>Choose either +1 Close combat attacks bonus or +1 Ranged Combat attacks bonus</td>
</tr>

<tr>
<td><strong>8</strong></td>
<td><strong>Characteristic Increase</strong><br> Gain +1 Bravery </td>
</tr>

<tr>
<td><strong>9</strong></td>
<td><strong>Characteristic Increase</strong><br> Gain +3 Wounds</td>
</tr>

<tr>
<td><strong>10-12 </strong></td>
<td><strong>Warriors Got Talent</strong> The Warrior becomes a hero! They may immediately choose 2 skill types to select from that the warband has access to in addition to the warband specific skills. You may then immediately make a roll on the Heroes Advancement table </td>
</tr>

</table>


</div>

<div class="info_box">
<h2>Characteristic Increases </h2>
<p>Characterisitcs of Warriors have their limits, and though they are powerful they are not gods.
<br> If a characteristic is at maximum re-roll, If the second is already at maximum pick an characteristic not at max and increase it by +1 (or +3 for wounds). This is the only way for some Warriors to get their maximum movement speed. 
<br>Remember, Henchmen can only increases each stat by +1
<br>All Heroes can only increase their attack and damages bonus by a maximum of +2 for each</p>
<h4>Human</h4>
<p>(Witch- Hunters, Flaggellents, Zealots, Mercenaries, Chaos Cultists, Mutants, Darksouls, Sisterhood etc.)</p>
<table>
<tr>
<th>Move</th>
<th>Strength</th>
<th>Toughness</th>
<th>Agility</th>
<th>Bravery</th>
<th>Wounds</th>
</tr>
<tr>
<td>4</td>
<td>4</td>
<td>4</td>
<td>6</td>
<td>9</td>
<td>28</td>
</tr>
</table>

<h4>Ratmen</h4>
<table>
<tr>
<th>Move</th>
<th>Strength</th>
<th>Toughness</th>
<th>Agility</th>
<th>Bravery</th>
<th>Wounds</th>
</tr>
<tr>
<td>6</td>
<td>4</td>
<td>4</td>
<td>7</td>
<td>7</td>
<td>25</td>
</tr>
</table>
<h4>Beastmen</h4>
<table>
<tr>
<th>Move</th>
<th>Strength</th>
<th>Toughness</th>
<th>Agility</th>
<th>Bravery</th>
<th>Wounds</th>
</tr>
<tr>
<td>4</td>
<td>5</td>
<td>5</td>
<td>5</td>
<td>9</td>
<td>30</td>
</tr>
</table>
<h4>Possessed</h4>
<table>
<tr>
<th>Move</th>
<th>Strength</th>
<th>Toughness</th>
<th>Agility</th>
<th>Bravery</th>
<th>Wounds</th>
</tr>
<tr>
<td>6</td>
<td>6</td>
<td>6</td>
<td>6</td>
<td>10</td>
<td>35</td>
</tr>
</table>




</div>

