<h1>Welcome to Mordcry!</h1>
<p>From here you can explore this homebrew game, look at the rules and make warbands!</p>
<div>
<%= link_to "Mordcry Rules", '/rules'%>
</div>
<div>
<%= link_to "Log in", '/users/login'%>
<%= link_to "Sign up", '/users/new'%>
</div>