
<div class="info_box">
<p>Welcome to the Mordcry Ruleset, These will be changing and updating so please keep on coming back to check up.</p>
</div>
<div class="info_box">
<h1>Battle Round</h1>
    <ol>
        <li>Hero Phase</li>
        <li>Activation Phase</li>
    </ol>
</div>
<div class="info_box">
<h2>Hero Phase</h2> <p>
	At the Start of the Hero Phase each player rolls 6 dice, These are the Initiative dice, the singles (non duplicates numbers) are counted, the player with the higher number having the initiative and therefore the first choice of activation in the Activation phase. In the case of a draw then the players roll off, with the higher dice roll taking initiative.
Any Duplicates should be placed to one side forming your dice sets for the turn with groups of ‘doubles’, ‘triples’, and ‘quads’ forming the basis of how you use active abilities.
At the start of a battle round any unused dice sets are discarded. </p>



<div class="inner_box">
<h2>Wild Dice</h2> <p>
Immediately after initiative is calculated each player receives one wild dice this can be used to add to the number of singles a player has, or turn a single into a double, double into a triple etc.
You can only add one wild dice to each dice set. 
Wild Dice can only be used once per battle however they carry over if unused between rounds. 
The player with the initiative first declares how they will use the wild dice. Then the other can choose to use their wild dice, if the player without initiative now has more singles they seize it and take initiative from now on in the round. 
If the number of singles is even the players roll off again as before until initiative is decided.</p>

</div>
<div class="inner_box">
<h2>Abilities and Dice sets</h2><p>
A warrior can use one ability during their activation if the player controlling them has the correct dice set to do so. The Ability can be used before or after their first action, or after their second action.
	If an Ability lists a bonus action this is in addition to the 2 actions a warrior can make during their activation 
	Once the warrior has used the ability discard the  dice set. You can use a higher dice set for a lower requirement ability, e.g a quad could be used as a double or a triple. But you still have to discard the whole set even if you only used part of it (e.g.a quad cannot be used as two doubles)
	If the ability asks for the value of the dice set it refers to the numerical value on the dice, e.g a double six value is six. 
	Desperate last stand
If the warrior is the last left standing you can use as many abilities on them as you have dice sets for.
All Warbands can choose from the Universal Ability set, as well as the Warband specific ones. 
</p>
<p>
<table>
	<tr>
		<th>Dice Set needed</th>
		<th>Univeral Abilities</th>
	</tr>
	<tr>
		<td>Double</td>
		<td>Rush: The Warrior adds 1 to their Move Characteristc until the end of this activation</td>
	</tr>
	<tr>
		<td>Double</td>
		<td>Onslaught: Warrior adds 1 to the number of attacks of weapons until the end of this activation</td>
	</tr>
	<tr>
		<td>Double</td>
		<td>Luck: The Warrior can exchange the value of this dice set in place of a single dice this roll. E.g Use a double 1 for a Jump check, or Use a double 6 to garuntee a critical hit. </td>
	</tr>
	<tr>
		<td>Triple</td>
		<td>Return to Action: A knocked down warrior is returned to full function meaning they do not miss an action in their activation</td>
	</tr>
	<tr>
		<td>Triple</td>
		<td>Respite: Can only be used if the Warrior is at least 1" away from enemy models, Warrior recovers the value of the dice sets worth of wounds up to their full compliment</td>
	</tr>
	<tr>
		<td>Triple</td>
		<td>Inspiring Presence: Can only be used by the leader. Pick a friendly model not yet activated this round and is within 6" of the Leader. You can activate this model immediately after the leaders activation ends</td>
	</tr>
	<tr>
		<td>Quad</td>
		<td>Rampage: The Warrior makes a bonus move action. Then they can make a bonus attack action.</td>
	</tr>
	<tr>
		<td>Quad</td>
		<td>Energy Surge: A stunned warrior is return to full function, meaning they will not miss their turn </td>
	</tr>


</table>

</p>

<div class="inner_box">

</div>

<h2>Characteristic tests</h2><p>
If ever a warrior is asked to make an characteristic test they must roll a D6 and roll equal to or under their test (with any modifiers mentioned in the test parameters). 
<br> 1 is always a pass and a 6 is always a fail, no matter the modifications.
E.g a toughness test would be rolling equal to or under your toughness on a D6</p>

</div>
</div>



<div class="info_box">
<h2>Activation Phase</h2>

<p>In this phase the players take turns choosing an individual fighter to activate with the player with initiative taking first choice. 
When it is the players turn the choose an individual warrior that has not already been activated this phase. If the player cannot activate a fighter for some reason they pass their turn. Until both players pass and the turn therefore ends. 
When a warrior is activated they take two actions on their turn. You may make both actions identical if possible. The options are as follows
    <ul>
        <li>Move</li>
        <li>Attack</li>
        <li>Disengage</li>
        <li>Wait</li>
        <li>Special</li>
    </ul>
</p>

<h3>Actions</h3>
<p><h3>Move</h3>
	There are 4 types of move action: normal move, jump, climb, charge. These 4 types follow some basic rules between them,
    <ul>
	<li>Movement is judged using the part of the base that moved furthest from its start position (including pivots)</li>
	<li>A warrior cannot move through another fighter be they friend or foe</li>
	<li>A warrior cannot move through a terrain piece unless specifically stated</li>
	<li>A warrior cannot move off the battlefield edge unless specifically stated</li>
	<li>If the fighter starts his action within 1” of an enemy/enemies and moves away from them, each enemy that at the end of the move is now more than 1” from the warrior gets a free immediate bonus attack action with one of its melee attack profiles. </li>
    </ul> 
</p>
<p><h3>Normal move</h3> The warrior moves up to his movement characteristic along a flat surface.
</p>
<p><h3>Jump</h3> Roll equal to or under Agility to jump your movement distance for an action. 
Moving in the action directly preceding this allows you to add your Agility score to the jump distance if you so choose.
If you fail to roll under you Agility you still jump, however you go half the distance then fall.
</p>
<p><h3>Climb</h3> Roll equal to or under Agility to climb your move characteristic up or down for the action, should you fail the agility roll, you stay put if you started on a flat surface. If you were climbing down or were halfway up a climb from the previous activation then you fall.
If you have spare movement at the end of a successful climb you can the remainder as a normal move action.
</p>
<p><h3>Charge</h3> Declare you are making a charge move then roll D6 to your move distance, if this allows you to get into contact with an enemy model you have made a successful charge! <br> This means if an attack action directly follow this it comes with +1 to its number of attacks and strength. 
However, if the extra D6 does not allow contact with any enemy models this counts as a failed charge and you only move your regular move towards the closest enemy model.
</p>
<p><h3>Diving Charge</h3> You can charge off a building, this requires you to roll equal to or under your Agility, as well as making a normal charge, however if successful at both any attack that follows directly after the attack gets +2 to its attacks and strength. 
<br>If the Agility test is failed but the charge succeeds it counts as a successful regular charge, however the warrior takes fall damage. 
If the Agility test is passed but the charge fails then it counts as a failed charge and no fall damage is taken.  
 </p>
<p><h3>Attack</h3> Choose a weapon that is within range and roll the number of attacks listed on its profile.</p>
<p>If the strength of the attacks if higher than the Toughness of the enemy, attacks hit on a 3+</p>
<p>If the strength and toughness are equal, attacks hit on a 4+</p>
<p>If the strength is less than the toughness of the enemy, attacks hit on a 5+</p>
<p>If you roll a 6 to hit, that attack is a crtitcal hit! And therefore does the critical damage to the opponent.</p>
<p>
Further combat rules are detailed below
</p>
<p><h3>Disengage</h3> The warrior moves up to 3” away from any enemies, this does not allow the enemies to get free attacks. You must end this move at least 1” away from any enemies. If this is impossible you must use another action.  
</p>
<p><h3>Wait</h3> If a wait activation is used as the first action the warrior can be activated again later in the initiative for a single action.
The warrior can use a skill in the first action, and then another action during the second activation later on in the turn. This does allow you to circumnavigate the rule of only being able to use one skill on a warrior in a turn. 
</p>

<p><h3>Special</h3> This covers any contextual use of an action. E.g Reloading a weapon, spending an action to re-prep a blunderbuss, casting a spell.  
</p>
</div>

<div class="info_box">
<h2>Other rules</h2>
<p>
<h3>Falling Damage </h3>
For each full or partial 3” a warrior falls roll a D6 (e.g 4” fall rolls 2 dice)<br>
<em>1-2:</em> Take 1 Damage<br>
<em>3-4:</em> Take D3 Damage<br>
<em>5-6:</em> Take 3 Damage<br>
All falling damage ignores armour soaking. 

If a warrior is hit by any critical hits and is within ½” of an edge roll an Agility test for each of those critical hits, If any fail the warrior falls. The opponent that caused them to fall can choose any point within 2” of directly below the nearest edge to the falling warrior and this is where they land. 
The falling warrior rolls fall damage as above.
 </p>
<p>
<h3>Cover</h3>If there is any scenery between a warrior and his target that blocks full view of the target, then the target counts as +1 to the toughness for those attack actions. 
A target also counts as in cover if it is 3” or more higher than the attacking warrior.
</p> 

<h3>All Alone</h3>
<p>
If a warrior starts its activation in combat with 2 or more opponents and there are no friendly warriors within 3” then they must take a Bravery test, adding +1 per enemy over the first within 3” of them. 
If they fail they must use their first action to make a move action to get as far away from the opponents as possible (this will illicit free attacks as it is not a disengage action) and cannot end within 1” of the enemy. If this cannot be achieved the action is lost.
For their second action they must take a second bravery check without the penalties of the first (unless they are trapped in combat, then adding +1 per enemy over the first within 3” of them). If they pass this test they may act normal for their second action, if they fail again they must flee again and can only make a move action and must not end their action within 1” of an enemy warrior.
</p>
<h3>Fear</h3>
<p>
	The each time a warrior enters into combat with an enemy warrior that causes fear they must make a bravery test, if they fail the fear causing enemy counts as having +1 Toughness for the rest of the turn against that warrior.
	If a warrior causes fear they are also immune to fear from other warriors. Fear causing warriors count as double the count of warriors for outnumbering modification purposes unless the warrior in question also causes fear. (e.g a warrior in combat with an enemy warrior and a fear causing enemy warrior would have a +2 penalty on their bravery check) 
</p>
<h3>Hatred</h3>
<p>If a Warrior has hatred, when they are attacking their hated enemy in close combat for the first attack action (when they initially come into contact with that enemy) they can re-roll any missed attacks. After the initial hate filled burst combat returns to normal.
</p>
</div>

<div class="info_box">
<h2>Spellcasting and Prayers</h2>
<p>To Cast a Spell the Spellcaster must use an action, choose a spell and roll 2D6, if it equals to or beast the difficulty of the spell it is cast and its effects go off as normal.</p>
<p>Each spellcaster can only cast a single spell in a turn, and may not use missile weapons and cast a spell in the same activation, </p>
<p>Spellcasters can not wear armour and cast spells, Prayer users can wear armour and still use Prayers</p>
<p>More details are listed on the Spells/Prayers page</p>
</div>

<div class="info_box">
<h2>Combat Rules</h2>
<h3>Dual wielding</h3>
<p>
Dual wielding a second One handed weapon is possible, as long as both weapons are one handed and the Warrior is not using a shield, when making an attack action add half (rounded up) of the second weapons Number of attacks to the attack action. <br> For Example: Wielding a mace in one hand and an axe in the other, You would get a total of 6 attack in an attack action (4+2) with only the axe attacks benefitting from penetrating, and needing to do at least the enemies Toughness worth of wounds with the mace attacks to allow clubbed to function.
<br> You also benefit from any weapon abilities, roll these attacks separately/with another coloured dice to distinguish.<br> 
Dual wielding Swords lets you parry twice.
</p>
<h3>Knocked down and Stunning</h3>
<p>
If a warrior takes more than their Toughness worth of wounds in one enemy activation and is still alive then there is a chance they may be Knocked down or Stunned. Roll a dice. <br>
<em>1-2</em> Warrior is fine and continues as normal<br>
<em>3-4</em> <strong>Knocked Down</strong>, Wounded warrior loses 1 activation next time they are activated. Enemies get +1 str when attacking the knocked down enemy<br>
<em>5-6</em> <strong>Stunned</strong>, Warrior loses entire activation next time they are activated. Enemies get a +2 str when attacking the Stunned enemy<br>
</p>
<h3>Strength and Armour Penetration</h3>
<p>Some blows are just too strong for even armour to deal with.
 If a warrior is attacking with a Strength of 5, they ignore one point of armour soak, a strength of 6+ they ignore two points of armour soak.
</p>
<h3>0 Wounds</h3>
<p>When a warrior is reduced to 0 wounds the attacking player rolls a dice for the warrior in question, add +1 for each additional point of damage that takes the warrior below 0:<br>
<em>1-2</em> <strong>Knocked Down</strong>, Wounded warrior loses 1 activation next time they are activated. Enemies get +1 str when attacking the knocked down enemy<br>
<em>3-4</em> <strong>Stunned</strong>, Warrior loses entire activation next time they are activated. Enemies get a +2 str when attacking the Stunned enemy<br>
<em>5-6</em> <strong>Out of Action</strong>, remove the warrior from play as they fall to the ground unconscious and badly hurt. <br>
<em>e.g. A warrior has 5 wounds left and takes 7 from a single attack, the warrior who is attacking rolls a D6 and adds +2 to the chart (5-7 = -2, or two below zero)</em><br><br>
If the Warrior is not taken Out of Action immediately they are returned to 1 wound. 
</p>



</div>

