<p>Welcome to the Mordcry Ruleset, These will be changing and updating so please keep on coming back to check up.</p>

<h1>Battle Round</h1>
    <ol>
        <li>Hero Phase</li>
        <li>Recovery Phase</li>
        <li>Activation Phase</li>
    </ol>


<h2>Hero Phase:</h2> <p>
	At the Start of the Hero Phase each player rolls 6 dice, These are the Initiative dice, the singles (non duplicates numbers) are counted, the player with the higher number having the initiative and therefore the first choice of activation in the Activation phase. In the case of a draw then the players roll off, with the higher dice roll taking initiative.
Any Duplicates should be placed to one side forming your skill dice for the turn with groups of ‘doubles’, ‘triples’, and ‘quads’ forming the basis of how you use active skills.
At the start of a battle round any unused skill dice are discarded. </p>

<h2>Wild Dice:</h2> <p>
Immediately after initiative is calculated each player receives one wild dice this can be used to add to the number of singles a player has, or turn a single into a double, double into a triple etc.
You can only add one wild dice to each skill dice set. 
Wild Dice can only be used once per battle however they carry over if unused between rounds. 
The player with the initiative first declares how they will use the wild dice. Then the other can choose to use their wild dice, if the player without initiative now has more singles they seize it and take initiative from now on in the round. 
If the number of singles is even the players roll off again as before until initiative is decided.</p>

<h2>Skills:</h2><p>
A warrior can use one ability during their activation if the player controlling them has the correct skill dice set to do so. The Skill can be used before or after their first action, or after their second action.
	If a Skills lists a bonus action this is in addition to the 2 actions a warrior can make during their activation 
	Once the warrior has used the skill discard the skill dice set. You can use a higher skill dice set for a lower requirement skill, e.g a quad could be used as a double or a triple. But you still have to discard the whole set even if you only used part of it (e.g.a quad cannot be used as two doubles)
	If the skill asks for the value of the skill dice it refers to the numerical value on the dice, e.g a double six value is six. 
	Desperate last stand
If the warrior is the last left standing you can use as many skills on them as you have skill dice sets for.
</p>

<p>
<h2>Characteristic tests</h2>
If ever a warrior is asked to make an characteristic test they must roll a D6 and roll equal to or under their test (with any modifiers mentioned in the test parameters). 
A 1 is always a pass and a 6 is always a fail, no matter the modifications.
E.g a toughness test would be rolling equal to or under your toughness on a D6</p>

<h2>Recovery Phase</h2><p>
	During this phase all warriors who were knocked down revert to acting normally, and all warriors who were stunned now count as knocked down in the activation phase.
	Some spells and skill also occur in this phase, detailed in the spell or skill.</p>

<div>
<h2>Activation Phase</h2>

<p>In this phase the players take turns choosing an individual fighter to activate with the player with initiative taking first choice. 
When it is the players turn the choose an individual warrior that has not already been activated this phase. If the player cannot activate a fighter for some reason they pass their turn. Until both players pass and the turn therefore ends. 
When a warrior is activated they take two actions on their turn. You may make both actions identical if possible. The options are as follows
    <ul>
        <li>Move</li>
        <li>Attack</li>
        <li>Disengage</li>
        <li>Wait</li>
        <li>Special</li>
    </ul>
</p>
<h3>Actions:</h3>
<p><h3>Move</h3>:
	There are 4 types of move action: normal move, jump, climb, charge. These 4 types follow some basic rules between them,
    <ul>
	<li>Movement is judged using the part of the base that moved furthest from its start position (including pivots)</li>
	<li>A warrior cannot move through another fighter be they friend or foe</li>
	<li>A warrior cannot move through a terrain piece unless specifically stated</li>
	<li>A warrior cannot move off the battlefield edge unless specifically stated</li>
	<li>If the fighter starts his action within 1” of an enemy/enemies and moves away from them, each enemy that at the end of the move is now more than 1” from the warrior gets a free immediate bonus attack action with one of its melee attack profiles. </li>
    </ul> 
</p>
<p><h3>Normal move:</h3> The warrior moves up to his movement characteristic along a flat surface.
</p>
<p><h3>Jump:</h3> Roll equal to or under Agility to jump your movement distance for an action. 
Moving in the action directly preceding this allows you to add your Agility score to the jump distance if you so choose.
If you fail to roll under you Agility you still jump, however you go half the distance then fall.
</p>
<p><h3>Climb:</h3> Roll equal to or under Agility to climb your move characteristic up or down for the action, should you fail the agility roll, you stay put if you started on a flat surface. If you were climbing down or were halfway up a climb from the previous activation then you fall.
If you have spare movement at the end of a successful climb you can the remainder as a normal move action.
</p>
<p><h3>Charge:</h3> Declare you are making a charge move then roll D6 to your move distance, if this allows you to get into contact with an enemy model you have made a successful charge! This means if an attack action directly follow this it comes with +1 to its number of attacks and strength. 
However, if the extra D6 does not allow contact with any enemy models this counts as a failed charge and you only move your regular move towards the closest enemy model.
</p>
<p><h3>Diving Charge:</h3> You can charge off a building, this requires you to roll equal to or under your Agility, as well as making a normal charge, however if successful at both any attack that follows directly after the attack gets +2 to its attacks and strength. 
If the Agility test is failed but the charge succeeds it counts as a successful regular charge, however the warrior takes fall damage. 
If the Agility test is passed but the charge fails then it counts as a failed charge and no fall damage is taken.  
 </p>
<p><h3>Attack:</h3> Choose a weapon that is within range and roll the number of attacks listed on its profile.
If the strength of the attacks if higher than the Toughness of the enemy, attacks hit on a 3+
If the strength and toughness are equal, attacks hit on a 4+
If the strength is less than the toughness of the enemy, attacks hit on a 5+
If you roll a 6 to hit, that attack is a crtitcal hit! And therefore does the critical damage to the opponent.
</p>
<p><h3>Disengage:</h3> The warrior moves up to 3” away from any enemies, this does not allow the enemies to get free attacks. You must end this move at least 1” away from any enemies. If this is impossible you must use another action.  
</p>
<p><h3>Wait:</h3> If a wait activation is used as the first action the warrior can be activated again later in the initiative for a single action.
The warrior can use a skill in the first action, and then another action during the second activation later on in the turn. This does allow you to circumnavigate the rule of only being able to use one skill on a warrior in a turn. 
</p>

<p><h3>Special:</h3> This covers any contextual use of an action. E.g Reloading a weapon, spending an action to re-prep a blunderbuss, casting a spell.  
</p>
</div>


Other rules:

Falling Damage 
For each full or partial 3” a warrior falls roll a D6 (e.g 4” fall rolls 2 dice)
1-2: Take 1 Damage
3-4: Take D3 Damage
5-6: Take 3 Damage
All falling damage ignores armour soaking. 

If a warrior is hit by any critical hits and is within ½” of an edge roll an Agility test for each of those critical hits, If any fail the warrior falls. The opponent that caused them to fall can choose any point within 2” of directly below the nearest edge to the falling warrior and this is where they land. 
The falling warrior rolls fall damage as above.
 
Cover: If there is any scenery between a warrior and his target that blocks full view of the target, then the target counts as +1 to the toughness for those attack actions. 
A target also counts as in cover if it is 3” or more higher than the attacking warrior.



Combat:

Char Stats for warriors:

Move, Strength, Toughness, Agility, Wounds, Bravery

Attack profile:
Range of weapon, number of attacks, damage/crit damage

Bravery is important when a warrior is outnumbered or versus something that causes fear/terror.

Being outnumbered can cause you to disengage
Fear may reduce your chance to hit a foe 
Terror can cause you to just flee outright

Species and Class of Character determines base stats:
Move, Strength, Toughness, Agility, Wounds, Bravery

Attack profile is determined by weapons and modded by skills.
Missile Weapon Strength is determined by the weapon

