/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

    .flash__alert   {
      font-family: 'Courier New', Courier, monospace;
      text-decoration: underline; 
      color: red;
      font-size: large;
    }
    .flash__notice  {
      font-family: 'Courier New', Courier, monospace;
        text-decoration: underline; 
      color: blue;
      font-size: large; 
    }
    .flash__success {
      font-family: 'Courier New', Courier, monospace;
      text-decoration: underline; 
      color: green;
      font-size: large; 
    }

    nav {
      list-style-type: none;
      overflow: hidden;
      background-color: #300;
      position: fixed;
      top: 0;
      width: 98.5%;
      border: black;
      border-style: solid;
      border-radius: 10px;
    }

    nav li {
      float: left;
      display: block;
      text-align: center;
      padding: 8px 14px;
      text-decoration: none;
    }
    a{
        padding: 5px;
        border: black;
        border-style: solid;
        border-radius: 10px;
        background-color: darkred;
        text-decoration: none;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        line-height: 40px;     
    }
    a:link {
        color: rgb(255, 233, 40);
    }
    a:visited {
      color:  rgb(255, 233, 40);
    }
    a:hover {
      color: red;
    }

    a:active {
      color: yellow;
    } 

    h1 {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-decoration: underline;
    }

    .home_link{
      margin-top: 5px;
      margin-bottom: 3px;
      font-size: medium;
      border: black;
      color: yellow;
      border-style: solid;
      border-radius: 10px;
      background-color: darkred;
      text-decoration: none;
      text-align: center;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      line-height: 40px;
    }
    .home_link:hover{
      color: red;
      cursor: pointer;
    }
  

    body {
      margin-top: 80px;
      background-color: antiquewhite;
  
    }

    .info_box {
        margin: 5px;
        padding: 15px;
        border: black;
        border-style: solid;
        border-radius: 10px;
        background-color: azure;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
        line-height: normal;
        
    }
    .search_box {
      margin: auto;
      margin-bottom: 10px;
      border: black;
      border-style: solid;
      border-radius: 10px;
      background-color: azure;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      width: 98%;
      column-span: all;
      text-align: center;
      
  }

    .search_box span{
      display: inline-block;
      margin-left: 60px;
      margin-right: 60px;
    }
    .info_box h1, h2, h3{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-decoration: underline;
    }
    
    .create_box {
        margin: 5px;
        padding: 15px;
        border: black;
        border-style: solid;
        border-radius: 10px;
        background-color: azure;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        line-height: 20px;
        width: fit-content;
        text-align: center;
    }

    .create_box table {
      margin: auto;
    }

    
    .warband_box {
      margin: auto;
      padding: 10px;
      border: black;
      border-style: solid;
      border-radius: 10px;
      background-color: azure;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      line-height: normal;
      width: 85%;
      text-align: center;
      
    }
    
    .warband_box h4, h3 {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-decoration: underline;
      padding-bottom: 5;
      margin-bottom: 0;
    }
    
    .warband_table {
      border-collapse: collapse;
      text-align: center;
      margin: 5px;
    }
    
    .warband_table th{
      background-color: khaki;
    }
    .warband_table, tr, th, td{
      border: black;
      border-style: solid;
      padding: 6px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      width: max-content;
    }

    
     table.form_box tr, td{
      border: none;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

   tr:nth-child(even){background-color: #f2f2f2;}
   tr:hover {background-color: #ddd;}
   
   td:nth-child(even){background-color: lavender;}
   td:hover {background-color: rgb(182, 182, 182);}
   td:nth-child(even):hover{background-color: rgb(182, 182, 182);}
  

